/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

lib/node_query_lexer.rex.rb
lib/node_query_parser.racc.rb
lib/node_query_parser.output

.vscode/
